.login_background {
  background: rgb(254,164,26);
  background: linear-gradient(120deg, rgba(254,164,26,0.7455357142857143) 0%, rgba(242,47,3,0.989233193277311) 100%);
  @apply w-full h-screen  flex items-center content-center justify-center;
}
.login_block {
  
  @apply bg-white w-[90vw] h-4/5 rounded-lg drop-shadow-sm flex flex-col;
}
.input_group {
  width: 100%;
  height: 8vh;
  @apply w-full flex items-center content-center rounded-full mt-[3vh] bg-[#f8f8f8];
}
.input_block {
  color: #c1c1c1;
  @apply  p-5 rounded-l-full;
}
.input_text {
  @apply w-full h-full px-2 text-lg rounded-r-full bg-[#f8f8f8] no-underline italic;
}
.button_group {
  background: rgb(254,164,26);
  background: linear-gradient(120deg, rgba(254,164,26,0.7455357142857143) 0%, rgba(242,47,3,0.989233193277311) 100%);
  @apply w-full h-[8vh] flex justify-center rounded-full mt-[5vh] text-xl;
}
.fm_btn {
  @apply w-full h-full rounded-full text-white text-2xl;
}
.login_link {
  color : #555;
  @apply flex justify-between px-5 text-xl mx-5;
}
.login_other {
  @apply flex justify-center  absolute inset-x-0 bottom-[7vh];
}
.text_divider {
  color: #c1c1c1;
  @apply flex items-center justify-center mx-5 w-full;
  --text-divider-gap: 1rem;
}
.text_divider::before,
.text_divider::after {
  content: '';
  height: 1px;
  background-color: #333;
  flex-grow: 1;
}
.text_divider::before {
  margin-right: var(--text-divider-gap);
}
.text_divider::after {
  margin-left: var(--text-divider-gap);
}