.login_background {
  background: rgba(255, 228, 243, 255);
  background: linear-gradient(
    55deg,
    rgba(255, 228, 243, 255) 80%,
    rgba(234, 222, 251, 255) 100%
  );
  @apply h-[100dvh] w-full;
}
.back {
  @apply flex-none p-2.5;
}
.name_nomi {
  @apply flex h-full w-[10vw] items-center pl-5 font-serif text-3xl font-semibold text-[#fe2801];
}
.head_block {
  @apply flex h-[25dvh] w-full flex-col;
}
.logo_block {
  @apply flex grow items-center;
}

.login_block {
  @apply flex h-[75dvh] w-full flex-col rounded-t-[2rem] bg-white drop-shadow-sm;
}
.input_group {
  width: 100%;
  height: 7vh;
  @apply mt-[2vh] flex w-full content-center items-center rounded-full bg-[#f8f8f8] outline-none;
}
.input_block {
  color: #c1c1c1;
  @apply rounded-l-full px-5;
}
.input_text {
  @apply h-full w-full rounded-full bg-[#f8f8f8] px-5 text-lg no-underline outline-none placeholder:italic;
}
.button_group {
  background: #fe2e00;
  @apply mt-[3vh] flex h-[6vh] w-4/5 justify-center rounded-full px-[5vw] text-xl;
}
.fm_btn {
  @apply h-full w-full rounded-full text-2xl text-white;
}
.login_link {
  color: #555;
  @apply mx-5 flex justify-center px-5 text-lg italic;
}
.login_other {
  @apply absolute inset-x-0  bottom-[7vh] flex justify-center;
}
.text_divider {
  color: #c1c1c1;
  @apply mx-5 flex w-full items-center justify-center;
  --text-divider-gap: 1rem;
}
.text_divider::before,
.text_divider::after {
  content: "";
  height: 1px;
  background-color: #333;
  flex-grow: 1;
}
.text_divider::before {
  margin-right: var(--text-divider-gap);
}
.text_divider::after {
  margin-left: var(--text-divider-gap);
}
.icon_back {
  @apply rounded-s-full px-2 py-0.5;
}
.login_image {
  @apply flex grow justify-center;
}
.form {
  @apply mt-[2vh] flex flex-col content-center items-center justify-center p-5;
}
.hidden_eye {
  @apply w-10;
}
.register {
  @apply pr-2 text-[#ff8c35];
}
.forgot {
  @apply pl-2 text-[#ff3535];
}